<div class="ui center middle aligned container segment" style="width: 300px;padding-bottom: 30px">
    <div class="header">
        WIPS 테스트
    </div>
    <div class="ui divider"></div>
    <form class="ui form">
        <div class="field">
            <label>ID</label>
            <input type="text" name="first-name" id="id_txt">
        </div>
        <div class="field">
            <label>Password</label>
            <input type="text" name="last-name" id="pwd_txt">
        </div>
        <div class="inline field middle aligned">
            <div class="ui checkbox">
                <input type="checkbox" tabindex="0" class="hidden">
                <label>ID 저장</label>
            </div>
            <button class="ui button right floated" type="submit">로그인</button>
        </div>
    </form>

</div>