<div class="ui fixed secondary pointing menu">
        <div class="header item">WIPS</div>
        <a class="item" href="#ap">AP관리</a>
        <a class="item" href="#sensor">센서관리</a>
        <a class="item" href="#config">환경설정</a>
        <div class="ui dropdown item">Dropdown
            <i class="dropdown icon"></i>
            <div class="menu">
                <div class="item">Action</div>
                <div class="item">Another Action</div>
                <div class="item">Something else here</div>
                <div class="divider"></div>
                <div class="item">Separated Link</div>
                <div class="divider"></div>
                <div class="item">One more separated link</div>
            </div>
        </div>
        <div class="right menu">
            <a class="ui item" id="logout_btn">로그아웃</a>
        </div>
</div>