<div class="ui segment">
    <div class="ui two column grid middle aligned">
        <div class="left aligned eight wide column">
            하하하하하
        </div>
        <div class="right aligned eight wide column">
            <div class="ui label" id="sensor_txt">
                <i class="mail icon"></i>센서 :
            </div>
            <div class="ui label" id="ap_txt">
                <i class="mail icon"></i>AP :
            </div>
            <div class="ui checkbox">
                <input type="checkbox" name="radio" checked="checked">
                <label>이벤트 알림</label>
            </div>
        </div>
    </div>
</div>
